// src/features/events/components/EventCardVertical/EventCardVertical.module.scss

@use '@/shared/styles/variables.scss' as *;

.eventCardRoot {
  display: flex;
  gap: 16px;
}

.eventCardThumb {
  flex: 0 0 120px;
  width: 120px;
  height: 150px;
  border-radius: 12px;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  flex: 1 1 auto;
  min-width: 0;
}

.title {
  overflow: hidden;
  color: palette('gray-700');
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.14px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.area {
  font-size: 12px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.12px;
  color: palette('gray-500');
}

.dateText {
  font-size: 10px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.12px;
  color: palette('gray-400');
}
