/* _mixins.scss */
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
