// src/features/events/components/EventCardHorizontal/EventCardHorizontal.module.scss

@use '@/shared/styles/variables.scss' as *;

.root {
  width: 100%;
}

.eventCardRoot {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.eventCardThumb {
  width: 100%;
  height: 180px;
  border-radius: 12px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  overflow: hidden;
  color: palette('gray-700');
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.14px;

  width: 100%;
}

.dateText {
  color: palette('gray-400');
  font-size: 10px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.12px;
}
